{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Vagabond!</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum asperiores saepe quas magnam! Corporis quam, omnis quo quibusdam, deserunt sapiente itaque et, suscipit est atque libero voluptas iure. Atque, praesentium.</p>
    </div>
    <div class="col-4">
        <img src="assets/img/251912.jpg"  class="img-thumbnail">
    </div>
</div>

{{> footer }}